<?xml version = '1.0' encoding = 'UTF-8'?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="src/bundle/Tests/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="false"
        >
    <php>
        <ini name="error_reporting" value="-1" />
    </php>
    <testsuites>
        <testsuite name="EzSystems\EzSupportToolsBundle">
            <directory suffix="Test.php">src/bundle/Tests</directory>
        </testsuite>
        <testsuite name="EzSystems\EzSupportTools">
            <directory suffix="Test.php">src/lib/Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>src/bundle/Tests/</directory>
                <directory>src/lib/Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
