{% trans_default_domain "systeminfo" %}

{% set kernel_items = [
    {
        label: 'symfony_kernel.environment'|trans|desc('Environment'),
        content: info.environment,
    },
    {
        label: 'symfony_kernel.debugMode'|trans|desc('Debug mode'),
        content: info.debugMode ? 'symfony_kernel.debugMode.enabled'|trans|desc('Enabled') : 'symfony_kernel.debugMode.disabled'|trans|desc('Disabled'),
    },
    {
        label: 'symfony_kernel.version'|trans|desc('Version'),
        content: info.version,
    },
    {
        label: 'symfony_kernel.projectDir'|trans|desc('Project directory'),
        content: info.projectDir,
    },
    {
        label: 'symfony_kernel.cacheDir'|trans|desc('Cache directory'),
        content: info.cacheDir,
    },
    {
        label: 'symfony_kernel.logDir'|trans|desc('Log directory'),
        content: info.logDir,
    },
    {
        label: 'symfony_kernel.charset'|trans|desc('Character set'),
        content: info.charset,
    },
] %}

{% include '@ibexadesign/ui/component/details/details.html.twig' with {
    headline: 'symfony_kernel'|trans|desc('Symfony Kernel'),
    items: kernel_items,
} only %}

<section class="ez-fieldgroup">
    <h2 class="ez-fieldgroup__name">{{ 'bundles'|trans|desc('Bundles') }}</h2>
    <div class="ez-fieldgroup__content">
        {% set body_rows = [] %}
        {% for bundle, namespace in info.bundles %}
            {% set body_rows = body_rows|merge([{ cols: [
                { content: bundle },
                { content: namespace },
            ] }]) %}
        {% endfor %}

        {% include '@ibexadesign/ui/component/table/table.html.twig' with {
            headline: 'bundles'|trans|desc('Bundles'),
            head_cols: [
                { content: 'symfony_kernel.name'|trans|desc('Name') },
                { content: 'symfony_kernel.path'|trans|desc('Path') },
            ],
            body_rows,
            empty_table_info_text: 'symfony_kernel.bundles.empty'|trans|desc('No bundles installed.'),
        } %}
    </div>
</section>
