.ibexa-system-info-helper-text {
    font-size: $ibexa-text-font-size-small;
    color: $ibexa-color-dark-400;
    width: 75%;
    border-top: calculateRem(1px) solid $ibexa-color-dark-200;
    padding-top: calculateRem(16px);
    margin-top: calculateRem(16px);

    &__link {
        color: $ibexa-color-dark-400;
    }

    .ibexa-icon {
        fill: $ibexa-color-dark-400
    }
}
